body {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: inherit;
  font-style: inherit;
  line-height: 1.5;
  background-color: #F6E9CA;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 62.5%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 24px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.pageRoot {
  padding: 2rem;
  min-height: 100vh;

  @media only screen and (min-width: 500px) {
    padding: 2rem 5rem;
  }
}

.heroSection {
  margin-top: 5rem;

  @media only screen and (min-width: 500px) {
    margin-top: 10rem;
  }
}

.hero {
  color: #00454A;
  margin: 0;
}

.introText {
  color: #00454A;
  max-width: 500px;
}

.formWrapper {
  max-width: 30rem;
}